* {
    font-family: 'Roboto', sans-serif;
}

.form-control {
    margin-top: 8px;
}

#message {
    font-size: 10pt;
    min-height: 55px;
}

#retype {
    margin-top: 16px;
}

.form-group {
    margin-bottom: 30px;
}