.form-control {
    margin-top: 8px;
}

#pass-check {
    margin: "0px 10px 0px 0px"
}

#message {
    font-size: 10pt;
    min-height: 55px;
}

#retype {
    margin-top: 16px;
}

.form-group {
    margin-bottom: 30px;
}