* {
    font-family: 'Roboto', sans-serif;
}

#top-buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0px 20px;
    text-align: center;
}

#first-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

#second-button {
    grid-column-start: 2;
    grid-column-end: 3;
}

#third-button {
    grid-column-start: 3;
    grid-column-end: 4;

}

#url-button, #logout-button {
    width: 100%;
    max-width: 180px;
}

#locationInfo {
    border-width: 3px;
    border-style: solid;
    border-color: #003366;
    border-radius: 25px;
}

#locationInfo:after {
    content: none;
}

#logout-button {
    background: #ff0000 ;
}


#logout-button:hover {
    box-shadow: inset 0 0 0 5px #FC9700;
}


/* @media only screen and (max-width: 480px) {
    #top-buttons {
        display: block;
        height: 75px;
    }
} */