* {
    font-family: 'Roboto', sans-serif;
}

#top-buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0px 20px;
    text-align: center;
}

#first-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

#second-button {
    grid-column-start: 2;
    grid-column-end: 3;
}

#third-button {
    grid-column-start: 3;
    grid-column-end: 4;
}

#url-button {
    width: 180px;
}