* {
    font-family: 'Roboto', sans-serif;
}

#top-buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0px 20px;
    text-align: center;
}

#first-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

#second-button {
    grid-column-start: 2;
    grid-column-end: 3;
}

#third-button {
    grid-column-start: 3;
    grid-column-end: 4;

}

#url-button, #logout-button {
    width: 100%;
    max-width: 180px;
}

#info-container, #votes-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 15px;
}

#info-container {
    min-height: 150px;
    border-width: 3px;
    border-style: solid;
    border-color: #003366;
    border-radius: 25px;
}

#info-container:after {
    content: none;
}

#logout-button {
    background: #ff0000 ;
}


#logout-button:hover {
    box-shadow: inset 0 0 0 5px #FC9700;
}


@media only screen and (max-width: 480px) {
    #url-button, #logout-button {
        font-size: 13px;
        padding: 5px 0px;
    }
    
    #info-container, #votes-container {
        width: 100%;
        padding-top: 0px;
    }
}